# Default ignored files
/shelf/
/workspace.xml

/dictionaries/
/appInsightsSettings.xml
/androidTestResultsUserPreferences.xml
/copilot.data.migration.*.xml
/compiler.xml
/deploymentTargetSelector.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
